/* common.css */
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

/* Reset and basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: #fff;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: #000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo {
    font-family: "Kode Mono", monospace;
    margin-left: 40px;
    font-size: 2em;
    font-weight: bold;
    color: #f39c12;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 20px;
    font-family: "Kode Mono", monospace;
}

nav ul li a {
    overflow: hidden;
    position: relative;
    display: inline-block;
}

nav ul li a::before,
nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
}

nav ul li a::before {
    background-color: #f39c12;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

nav ul li a::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #f39c12;
}

nav ul li a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}

nav ul li a:hover::after {
    transform: translate3d(0, 0, 0);
}

nav ul li a span {
    color: white;
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

nav ul li a:hover span {
    transform: translate3d(-200%, 0, 0);
}




.dropdown {
    position: relative;
    display: none;
}



/* Footer styles */
.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.footer-bottom {
    position: relative;
    margin-top: 60px;
    display: flex;
    justify-content: center;

}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    header .logo {
        margin-left: 4%;
        margin-right: 50%;
        font-size: 20px;
        font-weight: bold;
        color: #f39c12;
    }
}

@media only screen and (max-width: 500px) {
    .dropdown {
        display: inline-block;

    }

    .dropdown button {
        background-color: #000;
        color: white;
        padding: 0;
        font-size: 25px;
        border: none;
        cursor: pointer;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        left: -28.8vw;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    /* Individual dropdown items */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color on hover */
    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    /* Show the dropdown content on button hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Change background color of button on hover */
    .dropdown:hover button {
        background-color: #2980b9;
    }

    nav ul {
        list-style: none;
        display: none;
    }
}
