@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: #fff;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.myvid {
    position: absolute;
    top: 0;
    left: -30vw;
    width: 130%;
    height: 50vw;
    z-index: -1;
    display: block;
    object-fit: cover;
}

.front-text {
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin-top: 32vh;
    line-height: 3rem;
    text-align: center;
    background: linear-gradient(135deg, #3f88c5, #f26c4f, #917f57);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;
    animation: gradientMotion 5s ease infinite;
}

@keyframes gradientMotion {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.player {
    position: relative;
    right: 3vw;
    top: -2vw;

}

.center1 {
    margin-top: 50vh;
}

.center {
    display: flex;
}

.text {
    font-family: "Orbitron", sans-serif;
    text-align: left;
    padding: 30px;
    font-size: 16px;
    border-radius: 10px;
    max-width: 55vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.mytext {
    display: inline-block;

    line-height: 1.2;
    margin: 20px 0;
    white-space: normal;
    overflow: hidden;

}

.text2 {
    font-size: 55px;
    text-shadow: 4px 4px 0px #3F7FBF;
    mix-blend-mode: screen;
    animation: fadeIn 2.5s linear forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

.auto-type {
    font-size: 22px;
    font-weight: bold;
    background: linear-gradient(90deg, #7209b7, #4361ee, green, #4cc9f0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;
}


.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 90px;
    padding: 40px 20px;
    flex: 1;
}

.card {
    background-color: #282828;
    border-radius: 10px;
    padding: 20px;
    width: 320px;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out, bounceIn 2s ease-in-out;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card img {
    height: 270px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #f39c12;
}

@media only screen and (max-width: 500px) {
    .myvid {
        position: absolute;
        top: 0;
        left: -30vw;
        width: 130%;
        height: 80vw;
        z-index: -1;
        display: block;
        object-fit: cover;
    }

    .front-text {
        font-family: "Black Ops One", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 19px;
        margin-top: 32%;
        line-height: 1.5rem;
        text-align: center;
        background: linear-gradient(135deg, #3f88c5, #f26c4f, #917f57);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-emphasis-color: transparent;
        animation: gradientMotion 5s ease infinite;
    }

    @keyframes gradientMotion {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    .mytext {
        display: inline-block;
        line-height: 1.2;
        margin: 20px 0;
        white-space: normal;
        overflow: hidden;

    }

    .center1 {
        margin-top: 7vh;
    }

    .text2 {
        font-size: 15px;
        text-shadow: 4px 4px 0px #3F7FBF;
        mix-blend-mode: screen;
        animation: fadeIn 2.5s linear forwards;
    }

    .auto-type {
        font-size: 10px;
        font-weight: bold;
        background: linear-gradient(90deg, #7209b7, #4361ee, green, #4cc9f0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-emphasis-color: transparent;
    }

    .mytext {
        display: inline-block;

        line-height: 0.7;
        margin: 20px 0;
        white-space: normal;
        overflow: hidden;

    }

    .player {
        position: relative;
        right: 4vw;
        top: -15vh;

    }

    .center {
        display: flex;
        margin-bottom: -30vh;
    }








}
