body {
    background-color: #181818;
    color: #fff;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #282828;
    padding: 1rem 0;
    text-align: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
    padding: 0 20px;
  }
  
  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .card {
    background-color: #282828;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: center;
    width: 300px;
  }
  
  .card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #282828;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .contact {
    margin-top: 20px;
  }