@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* General styles */
body {
    margin: 0;
    font-family: "Kode Mono", monospace;
    background-color: #181818;
    color: #fff;
}

.header {
    background-color: #181818;
    color: #fff;
    padding-left: 1rem;
    padding-bottom: 1.4rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: start;
    justify-content: start;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.block {
    margin-top: 3vh;
    margin-right: 26vw;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 1.9rem;
    cursor: pointer;
    text-decoration: none;
    color: #f3912f;
}
.header a h1{
    font-family: "Kode Mono", monospace;
}

.container {
    display: flex;
    height: 100%;
}

.sidebar {
    margin-top: 50px;
    background-color: #3b3f47;
    color: #111;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 250px;
    overflow-y: auto;
    transition: width 0.3s;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: 100%;
}

.sidebar ul {
    font-family: "Kode Mono", monospace;
    margin-top: 40px;
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    font-family: "Kode Mono", monospace;
    padding: 1rem;
    text-align: center;
}

.sidebar ul li a {
    font-family: "Poppins", sans-serif;
    color: #f3912f;
    text-decoration: none;
    display: block;
    transition: background 0.3s, color 0.3s;
    font-size: 1.1rem;
}

.sidebar ul li a:hover {
    background-color: #f3912f;
    color: #111;
}

.main {
    padding: 2rem;
    padding-top: 70px;
    width: calc(100% - 270px);
    margin-left: 250px;
    box-sizing: border-box;
    overflow-y: auto;
    position: relative;
    z-index: 1;
}

.section {
    margin-top: 30px;
    background-color: #323435;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

.section h2 {
    font-family: "Kode Mono", monospace;
    margin-top: 0;
    font-size: 1.8rem;
    border-bottom: 2px solid #f3912f;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.chart-container {
    
    background-color:#111;
    color:#fff;
    border-radius: 10px;
    padding: 20px;
    width: 96%;
    margin-top: 20px;
}

#myLineChart {
    display: block;
    box-sizing: border-box;
    height: 500px;
    width: 1130px;
}

.chart-container h2 {
    font-family: "Kode Mono", monospace;
    margin-top: -12px;
    background-color: #111;
    padding: 20px;
    border-bottom: 2px solid #f3912f;
}

.liquidity-pools {
    font-family: "Kode Mono", monospace;
    background-color: #111;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}

.liquidity-pools h2 {
    font-family: "Kode Mono", monospace;
    margin-top: -12px;
    border-bottom: 2px solid #f3912f;
    padding: 20px;
}

.pool-info div {
    font-family: "Kode Mono", monospace;
    margin-bottom: 10px;
    color:#fff;
    padding: 10px;
}

.a2 {
    background-color: #111;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    animation: fadeIn 0.5s ease-in-out;
}

.a2 button {
    background-color: #f3912f;
    color: #111;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.a2 button:hover {
    background-color: #333;
}

.a2 form {
    display: flex;
    flex-direction: column;
}

.a2 form label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.a2 form input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.provider-info {
    font-family: "Kode Mono", monospace;
    width: 100%;
    padding: 1% 0;
}

.provider-info .label {
    font-family: "Kode Mono", monospace;
    font-weight: bold;
    font-size: 1em;
    flex: 1;
}

/* Responsive adjustments */
@media only screen and (max-width: 768px) {
    .container {
        
        flex-direction: column;
    }
    .main {margin-top: 10px;
        width: 100%;
        margin-left: 0;
    }
    .sidebar {
        
        width: 100%;
        position: static;
        height: auto;
        margin-top: 20px;
        overflow-y: initial;
    }
    .block {
        margin-right: 0;
    }
    #myLineChart {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    .header {
        background-color: #3b5998;
        color: #fff;
        font-size: 12px;
        padding-left: 1rem;
        padding-bottom: 1.4rem;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: start;
        justify-content: start;
        height: 41px;
        position: fixed;
        width: 100%;
        z-index: 999;
    }
    
}
